
body {
	background: #0e77af;
	color: #f8f1f1;
}

main.container {
	padding: 40px 20px;
}


.profile {
	background: linear-gradient(135deg, #0b4566, #d4e4ee);
	color: rgb(236, 236, 241);
	padding: 50px 20px;
	border-radius: 16px;
	margin-bottom: 30px;
}

.profile img {
	border: 4px solid rgb(201, 214, 226);
    border-radius: 8px;
    width: 120px;
}

.profile h1 {
	margin: 10px 0 5px;
	font-size: 2rem;
}

.profile .lead {
	color: #000000;
	font-size: 1rem;
}


section {
	background: #070101(77, 94, 129);
	padding: 24px;
	border-radius: 14px;
	box-shadow: 0 10px 25px rgba(89, 86, 136, 0.05);
	margin-bottom: 24px;
}


section h2 {
	color: #dee1e6;
	margin-top: 0;
	border-bottom: 2px solid #000000;
	padding-bottom: 6px;
}


ul {
	margin: 10px 0 0;
	padding-left: 20px;
}

li {
	margin-bottom: 6px;
}

section a:hover {
	text-decoration: underline;
}


footer {
	margin-top: 40px;
    text-align: center;
	background: #0e2252;
	color: #e3e3e4;
	padding: 14px;
	border-radius: 12px;
}


@media (max-width: 600px) {
	.profile h1 {
		font-size: 1.6rem;
	}

	section {
		padding: 18px;
	}
}
